@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$pagination-color:                  $light;
$pagination-bg:                     $gray-800;
$pagination-border-color:           $gray-900;

$pagination-focus-color:            $light;
$pagination-focus-bg:               $gray-700;
$pagination-focus-outline:          0;

$pagination-hover-color:            $light;
$pagination-hover-bg:               $gray-700;
$pagination-hover-border-color:     $gray-700;

$pagination-active-color:           $light;
$pagination-active-bg:              $gray-600;
$pagination-active-border-color:    $gray-600;

$pagination-disabled-color:         $gray-900;
$pagination-disabled-bg:            $gray-800;
$pagination-disabled-border-color:  $gray-800;


